# Versioning and metadata
.git
.gitignore
.github

# Build dependencies
node_modules
.npm

# Environment (contains sensitive data)
.env
.env.*

# Files not required for production
README.md
CHANGELOG.md
docker-compose.yml
Dockerfile
.dockerignore

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local development
.next/cache
.vscode
.idea