@use 'variables'
@use 'mixins'

*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: variables.$font-stack

html, body
  background: variables.$body-bg-color
  color: variables.$text-color
  min-height: 100vh

a
  color: inherit
  text-decoration: none
  transition: variables.$hover-transition

  &:hover
    color: variables.$accent-color

.main-container
  max-width: variables.$max-width
  margin: 0 auto
  padding: 2rem